---
import Layout from '@/layouts/Layout.astro';
import { PostsController } from '@/controllers';
import { FileText, Download, ChevronLeft } from 'lucide-react'

export const prerender = true;

interface Props {
    post: Post;
}

const apiURL = new URL("/api/posts/index.json", Astro.url);

// can be async function to fetch data from an API
export async function getStaticPaths() {
    // const apiURL = new URL("http://localhost:4321/pages/api/posts/index.json", Astro.url);
    const posts = await fetch("http://localhost:4321/api/posts/index.json", {  method: 'GET' })
        .then(res => res.json())
		.then(data => {
            console.log("Data: ", data);
			return data;
		});;
    // console.log("Posts: ", posts);

    return posts.map((post: Post) => ({ params: { id: post.id }, props: { post } }));
}

const { id } = Astro.params;
const { post } = Astro.props;

// console.log('post:', post)

const { title, description, date, type, author, file_url, file_download_url, file_name } = post;

let border_color: string;

switch (type) {
    case 'ANNOUNCEMENT':
        border_color = "border-[#FFA7A7]"
        break;
    case 'MEETING':
        border_color = "border-[#FFCC91]"
        break;
    case 'SCHEDULE':
        border_color = "border-[#8194FF]"
        break;
    default:
        border_color = "border-[#ccc]"
        break;
}

const post_types: Record<string, string> = {
    POST: 'Publicación',
    ANNOUNCEMENT: 'Anuncio',
    MEETING: 'Convocatoria',
    SCHEDULE: 'Cronograma'
}

const months: string[] = [
    'Enero',
    'Febrero',
    'Marzo',
    'Abril',
    'Mayo',
    'Junio',
    'Julio',
    'Agosto',
    'Septiembre',
    'Octubre',
    'Noviembre',
    'Diciembre'
]

---

<Layout>
    <article class="px-40">
        <!--back anchor-->
        <button onclick="history.back()" type="button" class="flex flex-row gap-2 cursor-pointer p-2 rounded-lg mb-2 2xl:mb-8 w-fit select-none hover:bg-zinc-100 focus:bg-zinc-200 transition-all ease-in-out duration-200">
            <ChevronLeft className="my-auto size-6" />
            <span class="text-lg 2xl:text-xl">Regresar</span>
        </button>
        <h1 class={`text-4xl 2xl:text-7xl pb-1 2xl:pb-4 font-bold border-b-1 mb-2 2xl:mb-8 ${border_color}`}>{title}</h1>
        <section class="flex flex-col mb-4 2xl:mb-16">
            <article class="flex flex-row gap-2">
                <p class="text-xl 2xl:text-3xl font-light">{post_types[type]}</p>
                <div class="my-auto">
                    {
                        type === 'POST' ? (
                                <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm2 4v2h10V7H7zm0 4v2h10v-2H7zm0 4v2h7v-2H7z" fill="currentColor"/></svg>
                        ) : (
                            type == 'ANNOUNCEMENT' ? (
                                    <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M12 8H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h1v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h3l5 4V4zm9.5 4c0 1.71-.96 3.26-2.5 4V8c1.53.75 2.5 2.3 2.5 4"/></svg>
                            ) : (
                                type == 'MEETING' ? (
                                        <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M3 16V5.75a1.25 1.25 0 0 1 2.5 0V12h1V2.75a1.25 1.25 0 0 1 2.5 0V12h1V1.25a1.25 1.25 0 0 1 2.5 0V12h1V3.25a1.25 1.25 0 0 1 2.5 0V15h.75l1.41-3.53c.22-.55.68-.97 1.24-1.16l.79-.26a1 1 0 0 1 1.24 1.32L18.4 19c-1.21 3-4.14 5-7.4 5c-4.42 0-8-3.58-8-8"/></svg>
                                ) : (
                                        <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M13 3v6h8V3m-8 18h8V11h-8M3 21h8v-6H3m0-2h8V3H3z"/></svg>
                                )
                            )
                        )
                    }
                </div>
            </article>
            <p class="text-md 2xl:text-lg text-zinc-400">
                <!--get the date in the spanish format: Mar 3, 2025-->
                {months[new Date(date).getMonth()]} {new Date(date).getDate()}, {new Date(date).getFullYear()}
            </p>
        </section>
        <section class="flex flex-col gap-4 mb-4 2xl:mb-0 2xl:gap-12">
            <article class="flex flex-row justify-between">
                <article class="flex flex-row gap-2">
                    <img src={author.image} alt={author.name} class="w-12 2xl:w-18 h-12 2xl:h-18 rounded-full" />
                    <section class="my-auto">
                        <h2 class="leading-none text-md 2xl:text-2xl font-bold">{author.name}</h2>
                        <p class="text-sm 2xl:text-xl text-zinc-500">{author.role}</p>
                    </section>
                </article>
            </article>
            {
                file_url && (
                <article class="flex flex-row gap-2">
                    <a href={file_url} target="_blank" class="flex flex-row gap-1"><FileText className="my-auto size-5"/> {file_name ?? 'Cronograma'}</a>
                    <a href={file_download_url} target="_blank" class="my-auto"><Download className="size-5"/></a>
                </article>
                )
            }
            <p class="text-xl 2xl:text-4xl leading-8 2xl:leading-14">
                {description}
            </p>
        </section>
    </article>
</Layout>
