---
interface Props {
    type?: 'post' | 'announcement' | 'meeting' | 'schedule';
    id: string;
    author: Author;
    title: string;
    date: Date;
    content: string;
}

const { type = 'post', id, author, title, date, content } = Astro.props;

const months: string[] = [
    'Enero',
    'Febrero',
    'Marzo',
    'Abril',
    'Mayo',
    'Junio',
    'Julio',
    'Agosto',
    'Septiembre',
    'Octubre',
    'Noviembre',
    'Diciembre'
]

// dictionary with translation to spanish of the post types
const post_types: Record<string, string> = {
    post: 'Publicación',
    announcement: 'Anuncio',
    meeting: 'Convocatoria',
    schedule: 'Cronograma'
}

let border_color: string;
let icon: string;

switch (type) {
    case 'announcement':
        border_color = "border-[#FFA7A7]"
        icon = "campaign"
        break;
    case 'meeting':
        border_color = "border-[#FFCC91]"
        icon = "hand"
        break;
    case 'schedule':
        border_color = "border-[#8194FF]"
        icon = "dashboard"
        break;
    default:
        border_color = "border-[#ccc]"
        break;
}

---

<article class={`bg-[#eee] rounded-lg p-4 pt-8 border-1 w-96 h-72 justify-between flex flex-col relative hover:scale-105 duration-300 ease-in-out cursor-pointer ${border_color}`}>
    <!--absolute label-->
    <div class={`flex flex-row gap-1 absolute -top-4 left-4 bg-[#eee] rounded-md border-1 px-2 py-1 ${border_color}`}>
        <p>{post_types[type]}</p>
        <div class="my-auto">
            {
                type === 'post' ? (
                        <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm2 4v2h10V7H7zm0 4v2h10v-2H7zm0 4v2h7v-2H7z" fill="currentColor"/></svg>
                ) : (
                    type == 'announcement' ? (
                            <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M12 8H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h1v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h3l5 4V4zm9.5 4c0 1.71-.96 3.26-2.5 4V8c1.53.75 2.5 2.3 2.5 4"/></svg>
                    ) : (
                        type == 'meeting' ? (
                                <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M3 16V5.75a1.25 1.25 0 0 1 2.5 0V12h1V2.75a1.25 1.25 0 0 1 2.5 0V12h1V1.25a1.25 1.25 0 0 1 2.5 0V12h1V3.25a1.25 1.25 0 0 1 2.5 0V15h.75l1.41-3.53c.22-.55.68-.97 1.24-1.16l.79-.26a1 1 0 0 1 1.24 1.32L18.4 19c-1.21 3-4.14 5-7.4 5c-4.42 0-8-3.58-8-8"/></svg>
                        ) : (
                                <svg width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M13 3v6h8V3m-8 18h8V11h-8M3 21h8v-6H3m0-2h8V3H3z"/></svg>
                        )
                    )
                )
            }
        </div>
    </div>
    <section class="flex flex-row justify-between">
        <article class="flex flex-row gap-2">
            <img src={author.image} alt={author.name} class="w-10 h-10 rounded-full" />
            <section class="my-auto">
                <h2 class="leading-none text-base font-bold">{author.name}</h2>
                <p class="text-sm">{author.role}</p>
            </section>
        </article>
        <p class="text-base text-zinc-500">
            <!--get the date in the spanish format: Mar 3, 2025-->
            {months[date.getMonth()].slice(0,3)} {date.getDate()}, {date.getFullYear()}
        </p>
    </section>
    <section>
        <h1 class="leading-none font-bold text-lg mb-2">{title}</h1>
        <p class="text-base">{content}</p>
    </section>
    <section>
        <button type="button" class="bg-zinc-300 px-4 py-2 cursor-pointer">
            LEER MÁS >
        </button>
    </section>
</article>
